html,
body {
    height: 100%;
    font-family: roboto;
    font-size: larger;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: #231942;
}

.container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 275px;
    height: 375px;
    scale: 1.8;
    background-color: #5E548E;
    border-radius: 10px;
}

.calculator {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex: 0 0;
    margin: 20px;
}

.calc-numbers {
    display: flex;
    height: 275px;
    width: 220px;
}

.buttons {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    flex: 1 0;

}
.buttons button {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background-color: #E7C6FF;
    border-radius: 5px;
    border: 0;
    margin: 2px;
}

.buttons button.clear,
.buttons button.delete {
    width: 105px;
}

.buttons button.clear,
.buttons button.delete,
.divide,
.multiply,
.subtract,
.sum,
.equals,
.dot {
    background-color: #f4a9ff;
}


.screen {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #000000;
    width: 195px;
    height: 40px;
    margin: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    bottom: 285px;
    border: 0;
    border-radius: 5px;
    background-color: #C7B6DD;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: "-";
}

